/* @theme A4-default */

@import 'default';

section
{
  width: 210mm;
  height: 297mm;
  justify-content: start;
  font-size: 14px;

  padding: 1cm;
}

h2 {
  font-size: 35px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 25px;
}

h4 {
  font-size: 20px;
}

p {
  font-size: 18px;
}

li {
  font-size: 20px;
}
