/* @theme A4-default */

@import 'default';


section {

  width: 210mm;
  height: 297mm;

  justify-content: start;

  padding: 1cm;
  font-size: 16px;

  text-align: left;
}

h1 {
  text-align: center;
  font-size: 2.2rem;
  color: black; /* テキストの色 */
}

h2 {
  text-align: center;

  font-size: 2rem;
}

h3 {
  text-align: left;
  font-size: 1.5rem;
}

h4 {
  text-align: left;
  font-size: 1.25rem;
}

p {
  text-align: left;
  font-size: 1rem;
}

li {
  text-align: left;
  font-size: 1rem;
}