/* @theme A4-default */

@import 'default';


section {

  width: 210mm;
  height: 297mm;

  justify-content: start;

  padding: 1cm;
  font-size: 16px;

  text-align: left;
}

h1 {
  text-align: center;
  font-size: 2.2rem;

  display: inline-block; /* バーの幅をテキストの幅に合わせる */
  margin: 0 auto; /* 上下の余白を設定し、水平方向に中央寄せ */
  padding: 10px 20px; /* テキストの周囲の余白 */
  background-color: #7F7F7F; /* バーの背景色 */
  color: white; /* テキストの色 */
  border-radius: 25px; /* バーの角の丸み */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 影の効果 */
}

h2 {
  text-align: center;

  font-size: 2rem;
}

h3 {
  text-align: left;
  font-size: 1.5rem;
}

h4 {
  text-align: left;
  font-size: 1.25rem;
}

p {
  text-align: left;
  font-size: 1rem;
}

li {
  text-align: left;
  font-size: 1rem;
}