/* @theme A4-default */

@import 'default';

section {

  width: 210mm;
  height: 297mm;

  justify-content: start;

  padding-top: 1cm;
  padding-bottom: 1cm;
  padding-right: 1.5cm;
  padding-left: 1.5cm;

  font-size: 14px;

  text-align: left;
}

h1 {
  text-align: center;
  font-size: 2.5rem;

  position: relative;
  background-color: #eeeeee;
  color: black;
  padding: 10px 0;
  margin: 20px 0;
}

h1:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 10px;
  background-color: #000;
}

h2 {
  text-align: left;
  font-size: 2.0rem;

  position: relative;
  background-color: #eeeeee;
  color: black;
  padding: 5px 15px;
  margin: 10px 0;
}

h2:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 5px;
  background-color: #000;
}


h3 {
  text-align: left;
  font-size: 1.5rem;

  position: relative;
  background-color: #eeeeee;
  color: black;
  padding: 5px 5px;
  margin: 5px 0;
}

h4 {
  text-align: left;
  font-size: 1.25rem;

  position: relative;
  border-bottom: 2px solid #eeeeee;
  padding-bottom: 5px;
}

h5 {
  text-align: left;
  font-size: 1.125rem;

  padding: 5px 5px;
  margin: 5px 0;
}

h5:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 5px;
  background-color: black;
}


p {
  text-align: left;
  font-size: 1rem;
}

li {
  text-align: left;
  font-size: 1rem;
}

strong {
  font-size: 1.125rem;
}